# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.env.*
*.sqlite3
*.db
*.log

# Streamlit
.streamlit/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Sistema operacional
.DS_Store
Thumbs.db

# CSVs e dados sensíveis
empresas.csv
transactions.csv

# Pacotes
env/
venv/
*.egg-info/
dist/
build/